.conteneur-profils {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.carte-profil {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 390px;
  margin-top: 50px;
  margin-bottom: 30px;
}

.carte-profil img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 50%;
}

.nom {
  font-size: 25px;
  font-weight: 500;
  color: black;
  padding-top: 15px;
  padding-bottom: 10px;
}

.presentation {
  font-size: 18px;
  color: #868686;
  width: 250px;
  padding: 0;
}

.bandeau-satisfaction-clients {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #183a43;
  margin-bottom: 60px;
  padding-top: 30px;
  padding-bottom: 30px;
  gap: 150px;
}

.bandeau-satisfaction-clients p {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 19px;
  font-weight: 600;
  padding: 0;
}

.nb-clients {
  font-size: 44px;
  font-weight: 700;
  color: #c8ff00;
}

.conteneur-services {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.box-services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

.background-icone-services {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 71.5%;
  height: 448px;
  background-color: #f4f6f5;
  border-radius: 30px 30px 30px 30px;
}

.box-services p {
  font-size: 43px;
  font-weight: 600;
  padding: 10px 0px;
}

#contact {
  background-color: #183a43;
  color: #c8ff00;
  font-weight: 700;
}

.conteneur-contact {
  display: flex;
  flex-direction: column;
  background-color: #183a43;
  padding-top: 30px;
}

.conteneur-contact p {
  background-color: #183a43;
  color: white;
  padding: 30px 0px;
}

.formContact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #183a43;
  width: 100%;
  gap: 30px
}

.nom-categ,
.tel-ville {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.nom-categ input,
.tel-ville input {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: 20px;
  width: 75%;
  height: 50px;
  background-color: #183a43;
  border-bottom: solid 4px white;
  color: white;
  font-size: 20px;
  border-top: none;
  border-left: none;
  border-right: none;
}

.email-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.email-message input,
textarea {
  padding: 10px;
  margin: 20px;
  width: 98%;
  height: 50px;
  background-color: #183a43;
  border-bottom: solid 4px white;
  color: white;
  font-size: 20px;
  border-top: none;
  border-left: none;
  border-right: none;
}

.email-message textarea {
  font-size: 20px;
}

.success,
.error {
  color: white;
  font-size: 20px;
}

.bouton-envoyer {
  display: flex;
  justify-content: flex-end;
  padding-right: 150px;
  align-items: center;
  width: 100%;
  padding: 50px 150px 50px 0px;
}

.bouton-envoyer button {
  width: 15%;
  height: 59px;
  font-family: 'poppins';
  font-size: 17px;
  font-weight: 500;
  border: none;
  border-radius: 30px 30px 30px 30px;
  background-color: #c8ff00;
}

.conteneur-a-propos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 40px;
  padding: 98px;
}

.Photo-reunion {
  width: 58%;
  height: 405px;
  border-radius: 30px 30px 30px 30px;
  object-fit: cover;
}

.cadre-a-propos {
  display: flex;
  flex-direction: column;
  width: 58%;
  height: 405px;
  border: 1px solid black;
  border-radius: 10px 10px 10px 10px;
}

#titre-a-propos {
  font-size: 25px;
  font-weight: 600;
  color: black;
}

.cadre-a-propos p {
  font-size: 18px;
  font-weight: 300;
  color: #868686;
  text-align: center;
  padding: 15px;
}

.conteneur-cartes {
  display: flex;
  justify-content: space-between;
}

.carte-icone-eco {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 188px;
}

.carte-icone-eco p {
  height: 80px;
  padding-top: 10px;
  font-size: 18px;
  font-weight: 600;
  color: #183a43;
}

.contour-icone-eco img {
  width: 50px;
  object-fit: contain;
}

.contour-icone-eco .icone-main {
  width: 70px;
}

.contour-icone-eco {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 130px;
  border: 4px solid #183a43;
  border-radius: 50%;
}

.conteneur-galerie {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.galerieSlides {
  display: none;
  width: 80%;
}

.conteneur-galerie p {
  padding: 30px 100px;
}

.conteneur-galerie img {
  width: 100%;
  border-radius: 20px 20px 20px 20px;
}

.btn-slide {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
  width: 70%;
}

.prev,
.next {
  display: flex;
  cursor: pointer;
  font-size: 43px;
  font-weight: 275;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 1px solid black;
  color: #000;
  user-select: none;
}

.prev:hover,
.next:hover {
  background-color: black;
  color: #c8ff00;
}


@media screen and (max-width: 1088px) {

  .image-background {
    height: 239px;
  }

  .titre-conteneur {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .titre {
    bottom: auto;
    right: auto;
    text-align: center;
  }

  .bienvenue {
    font-size: 25px;
  }

  .agence {
    font-size: 30px;
  }

  .conteneur-profils {
    flex-direction: column;
    padding-bottom: 60px;
  }

  .carte-profil {
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0px;
  }

  .presentation {
    font-weight: 400;
  }

  .bandeau-satisfaction-clients {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin: 0;
  }

  .conteneur-services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
    gap: 50px;
  }

  .background-icone-services {
    width: 100%;
    height: 300px;
  }

  .box-services p {
    font-size: 23px;
  }

  .conteneur-contact p {
    padding: 15px;
  }

  .nom-categ,
  .tel-ville {
    flex-direction: column;
  }

  .nom-categ input,
  .tel-ville input {
    width: 100%;
  }

  .bouton-envoyer {
    justify-content: center;
    width: 100%;
    padding: 30px 0px 30px 0px;
  }

  .bouton-envoyer button {
    width: 60%;
  }

  .Photo-reunion {
    display: none;
  }

  .conteneur-a-propos {
    padding: 15px
  }

  .cadre-a-propos {
    width: 100%;
    height: 805px;
    margin-top: 20px;
  }

  .conteneur-cartes {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }

  .galerieSlides {
    display: block;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin-bottom: 10px;
  }

  .conteneur-galerie p {
    font-size: 18px;
    padding: 10px 20px 40px 20px;
  }

  .btn-slide {
    display: none;
  }
}