* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html, body {
    height: 100%;
}

body {
    background-color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 1em;
    display:flex;
    flex-direction: column;
}

.navbar {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.logo-toggle {
  padding: 0 15px;
}

h1 {
  color: #255919;
  font-size: 43px;
  font-weight: 700;
}

.eco {
  font-style: italic;
}

.toggle {
  font-size: 2.5em;
  color: #255919;
  display: none;
}

.nav-links {
  display: flex;
  justify-content: end;
  gap: 18px;
  padding-right: 15px;
}

.nav-links a {
  color: #000;
  font-weight: 500;
  font-size: 20px;
}

h2 {
  color: #469b61;
  font-size: 3.3em;
  font-weight: 600;
  text-align: center;
  justify-content: center;
  background-color: white;
  margin-top: 30px;
  margin-bottom: 20px;
}

p {
  padding: 0px 40px;
  font-size: 1.8em;
  font-weight: 500;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
}

#newslist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ficheArticle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  flex-direction: column;
  background-color: #183a43;
  border-radius: 15px;
  gap: 45px;
  padding: 50px;
  margin: 50px 0px 120px 0px;
  width: 90%;
}

.ficheArticle input {
  background-color: #183a43;
  border: 3px solid white;
  border-radius: 10px;
  color: white;
  font-size: 1.8em;
  width: 100%;
  height: 74px;
  padding: 15px;
}

.ficheArticle textarea {
  background-color: #183a43;
  border: 3px solid white;
  color: white;
  width: 100%;
  height: 123px;
  font-size: 2.2em;
  padding: 15px;
  border-radius: 10px;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 60px;
  border-radius: 30px 30px 30px 30px;
  background-color: #c8ff00;
  border: none;
  font-size: 1.5em;
  font-weight: 500;
  margin-bottom: 30px;
}

footer {
  display: flex;
  flex-direction: column;
}

.footer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #183a43;
  padding-top: 35px;
  padding-bottom: 35px;
  width: 100%;
}

.bloc-rubriques {
  display: flex;
  justify-content: space-around;
  width: 75%;
  gap: 50px;
}

.rubriques p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  text-align: left;
  color: white;
  font-size: 1.1em;
  padding: 0 15px;
  width: 180px;
}

.titre-rubrique {
  font-size: 1.5em;
  color: white;
  font-weight: 500;
}

.telephone-location {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  width: 15%;
  height: 155px;
}

.telephone-location div {
  display: flex;
  gap: 10px;
}

#icone-tel,
#icone-location {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #c8ff00;

}

.telephone-location div p {
  font-size: 1em;
  color: white;
  text-align: left;
  padding: 0;
}

.footer-copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0c2227;
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer-copyright p {
  text-align: left;
  font-size: 0.96em;
  font-weight: 300;
  color: white;
}

.footer-copyright div {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2.6em;
  gap: 50px;
}

.btn-connexion {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c8ff00;
  color: #000;
  border-radius: 10px;
  border: none;
  width: 200px;
  height: 50px;
  font-size: 1.2em;
  font-weight: 500;
  padding: 5px;
}

@media screen and (max-width: 1088px) {
    p {
        font-size: 1em;
    }

    .toggle {
        display: block;
    }

    .navbar {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 50px;
    }

    h1 {
        font-size: 2em;
    }

    .logo-toggle {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        z-index: 20;
    }

    .nav-links.is-visible {
        display: block;
    }

    .nav-links {
        position: absolute;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 10;
        background-color: white;
        width: 100%;
        margin-top: 50px;
        top: 0;
        gap: 80px;
        padding: 80px 0px 80px 0px;
    }

    .hidden {
        display: none;
    }

    .nav-links a {
        font-size: 1.8em;
        font-weight: 600;
    }

    h2 {
        font-size: 1.9em;
    }

    .ficheArticle {
    padding: 10px;
  }

  .ficheArticle input {
    font-size: 1.2em;
  }

  .ficheArticle textarea {
    font-size: 1.5em;
  }

  .ficheArticle p {
    padding: 15px;
  }

  button {
    width: 60%;
    height: 40px;
    font-size: 1.2em;
  }

  .footer-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    column-count: 2;
    gap: 30px;
    padding: 20px;
  }

  .bloc-rubriques {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: left;
    width: 100%;
  }

  .rubriques p {
    justify-content: center;
    align-items: left;
  }

  .telephone-location {
    padding-top: 20px;
    width: 100%;
  }

  .telephone-location p {
    width: 75%;
  }

  .footer-copyright p {
    padding: 10px;
  }

  .footer-copyright {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    margin: 0;
    gap: 20px;
  }

  .btn-connexion {
    width: 200px;
    height: 30px;
    background-color: #c8ff00;
    color: black;
    border: none;
    border-radius: 10px;
  }

}