main {
  display: flex;
  flex-direction: column;
}

#newslist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ficheArticle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  flex-direction: column;
  background-color: #183a43;
  border-radius: 15px;
  gap: 45px;
  padding: 50px;
  margin: 50px 0px 120px 0px;
  width: 90%;
}

.ficheArticle input {
  background-color: #183a43;
  border: 3px solid white;
  border-radius: 10px;
  color: white;
  font-size: 1.8em;
  width: 100%;
  height: 74px;
  padding: 15px;
}

.ficheArticle textarea {
  background-color: #183a43;
  border: 3px solid white;
  color: white;
  width: 100%;
  height: 123px;
  font-size: 2.2em;
  padding: 15px;
  border-radius: 10px;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 60px;
  border-radius: 30px 30px 30px 30px;
  background-color: #c8ff00;
  border: none;
  font-size: 1.5em;
  font-weight: 500;
  margin-bottom: 30px;
}

footer {
  display: flex;
  flex-direction: column;
}

.footer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #183a43;
  padding-top: 35px;
  padding-bottom: 35px;
  width: 100%;
}

.bloc-rubriques {
  display: flex;
  justify-content: space-around;
  width: 75%;
  gap: 50px;
}

.rubriques p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  text-align: left;
  color: white;
  font-size: 1.1em;
  padding: 0 15px;
  width: 180px;
}

.titre-rubrique {
  font-size: 1.5em;
  color: white;
  font-weight: 500;
}

.telephone-location {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  width: 15%;
  height: 155px;
}

.telephone-location div {
  display: flex;
  gap: 10px;
}

#icone-tel,
#icone-location {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #c8ff00;

}

.telephone-location div p {
  font-size: 1em;
  color: white;
  text-align: left;
  padding: 0;
}

.footer-copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0c2227;
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer-copyright p {
  text-align: left;
  font-size: 0.96em;
  font-weight: 300;
  color: white;
}

.footer-copyright div {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2.6em;
  gap: 50px;
}

.btn-connexion {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c8ff00;
  color: #000;
  border-radius: 10px;
  border: none;
  width: 200px;
  height: 50px;
  font-size: 1.2em;
  font-weight: 500;
  padding: 5px;
}

@media screen and (max-width: 1088px) {
  

  .form {
    padding: 30px;
  }
  .ficheArticle {
    padding: 10px;
  }

  .ficheArticle input {
    font-size: 1.2em;
  }

  .ficheArticle textarea {
    font-size: 1.5em;
  }

  .ficheArticle p {
    padding: 15px;
  }

  button {
    width: 60%;
    height: 40px;
    font-size: 1.2em;
  }

}