main {
  display: flex;
  flex-direction: column;
}

#newslist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ficheArticle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  flex-direction: column;
  background-color: #183a43;
  border-radius: 15px;
  gap: 45px;
  padding: 50px;
  margin: 50px 0px 120px 0px;
  width: 90%;
}

.ficheArticle input {
  background-color: #183a43;
  border: 3px solid white;
  border-radius: 10px;
  color: white;
  font-size: 1.8em;
  width: 100%;
  height: 74px;
  padding: 15px;
}

.ficheArticle textarea {
  background-color: #183a43;
  border: 3px solid white;
  color: white;
  width: 100%;
  height: 123px;
  font-size: 2.2em;
  padding: 15px;
  border-radius: 10px;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 60px;
  border-radius: 30px 30px 30px 30px;
  background-color: #c8ff00;
  border: none;
  font-size: 1.5em;
  font-weight: 500;
  margin-bottom: 30px;
}

@media screen and (max-width: 1088px) {


  .form {
    padding: 30px;
  }

  .ficheArticle {
    padding: 10px;
  }

  .ficheArticle input {
    font-size: 1.2em;
  }

  .ficheArticle textarea {
    font-size: 1.5em;
  }

  .ficheArticle p {
    padding: 15px;
  }

  button {
    width: 60%;
    height: 40px;
    font-size: 1.2em;
  }

}