* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 1em;
}

.navbar {
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.logo-toggle {
    padding: 0 15px;
}

h1 {
    color: #255919;
    font-size: 43px;
    font-weight: 700;
}

.eco {
    font-style: italic;
}

.toggle {
    font-size: 2.5em;
    color: #255919;
    display: none;
}

.nav-links {
    display: flex;
    justify-content: end;
    gap: 18px;
    padding-right: 15px;
}

.nav-links a {
    color: #000;
    font-weight: 500;
    font-size: 20px;
}

h2 {
    color: #469b61;
    font-size: 3.3em;
    font-weight: 600;
    text-align: center;
    justify-content: center;
    background-color: white;
    margin-top: 30px;
    margin-bottom: 20px;
}

p {
    padding: 0px 40px;
    font-size: 1.8em;
    font-weight: 500;
    text-align: center;
}

#newslist {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 30px
}

.conteneurActualites {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
}

.ficheArticle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #469b61;
    border-radius: 10px;
    width: 85%;
    padding: 30px;
}

.ficheArticle h3 {
    color: white;
    font-size: 1.8em;
    font-weight: 500;
    padding: 20px 0;
}

.ficheArticle p {
    font-size: 1.3em;
    font-weight: 400;
    color: white;
    padding-bottom: 25px;
}

.date {
    font-size: 1.3em;
    padding-top: 20px;
    color: white;
}

.bandeau-pied {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #183a43;
    padding: 50px 30px;
    width: 100%;
}

.bloc-rubriques {
    display: flex;
    justify-content: space-around;
    width: 75%;
    gap: 50px;
}

.rubriques p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    text-align: left;
    color: white;
    font-size: 1.1em;
    padding: 0 15px;
    width: 180px;
}

.titre-rubrique {
    font-size: 1.5em;
    color: white;
    font-weight: 500;
}

.telephone-location {
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 20px;
    width: 20%;
}

.telephone-location div {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #c8ff00;
    width: 250px;
}

#icone-tel {
    padding-right: 20px;
}

#icone-location {
    padding-right: 30px;
}

.telephone-location p {
    font-size: 1.1em;
    color: white;
    text-align: left;
    width: 200px;
    padding: 0;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0c2227;
    padding-top: 30px;
    padding-bottom: 30px;
}

footer p {
    text-align: left;
    font-size: 0.96em;
    font-weight: 300;
    color: white;
}

footer div {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2.6em;
    padding-right: 120px;
    gap: 50px;
}

@media screen and (max-width: 1088px) {
    p {
        font-size: 1em;
    }

    .toggle {
        display: block;
    }

    .navbar {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 50px;
    }

    h1 {
        font-size: 2em;
    }

    .logo-toggle {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        z-index: 20;
    }

    .nav-links.is-visible {
        display: block;
    }

    .nav-links {
        position: absolute;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 10;
        background-color: white;
        width: 100%;
        height: 100vh;
        margin-top: 10px;
        padding: 80px;
        top: 0;
        gap: 80px;
    }

    .hidden {
        display: none;
    }

    h2 {
        font-size: 1.9em;
    }

    .btn-ajouter {
        width: 210px;
        height: 50px;
        background-color: #c8ff00;
        color: black;
        padding: 5px;
        border: none;
        border-radius: 6px;
        cursor: pointer;
        font-weight: 600;
        font-size: 1.1em;
    }

    .ficheArticle {
        margin: 20px;
    }

    .ficheArticle h3 {
        font-size: 1.6em;
    }

    .ficheArticle p {
        padding: 15px;
    }

    .btn-modifier {
        display: flex;
        width: 150px;
        height: 30px;
        background-color: orange;
        color: white;
        padding: 10px 15px;
        border: none;
        border-radius: 6px;
        cursor: pointer;
        font-weight: 600;
        font-size: 1.2em;
    }

    .btn-supprimer {
        display: flex;
        position: absolute;
        right: 1px;
        width: 150px;
        height: 30px;
        background-color: red;
        color: white;
        padding: 10px 15px;
        border: none;
        border-radius: 6px;
        cursor: pointer;
        font-weight: 600;
        font-size: 1.2em;
    }

    .pied-fiche {
        display: flex;
        position:relative;
        box-sizing: border-box;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        gap: 80px;
    }

    .pied-fiche button {
        justify-content: center;
        align-items: center;
        margin-left: 5px;
    }

    .date {
        position: absolute;
        left: 1px;
    }

    .bandeau-pied {
        display: flex;
        flex-direction: column;
        justify-content: center;
        column-count: 2;
        gap: 30px;
        padding: 20px;
    }

    .bloc-rubriques {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: left;
        width: 100%;
    }

    .rubriques p {
        justify-content: center;
        align-items: left;
    }

    .telephone-location {
        justify-content: center;
        align-items: center;
        padding-top: 20px;
        width: 100%;
    }

    Footer {
        flex-direction: column-reverse;
        position: relative;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 170px;
        margin: 0px;
        padding: 0px;
    }

    footer div {
        position: absolute;
        top: 80px;
        width: 100%;
        padding: 0px;
    }

    footer p {
        position: absolute;
        top: 135px;
        margin: 0px;
    }
}